/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    #information {
        min-width: 100%;
    }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/*//Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

.enrollBookmark {
    width: 30%;
    margin-right: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn-primary {
    background: darkred;
}

.btn-primary:hover {
    background: lightcoral;
}
.btn-primary:active {
    background: darkred;
}
.btn-primary:focus {
    background: lightcoral;
}

a {
    color: black;
}

#searchButton {
    min-width: 3rem;
}

.icons {
    float: left;
    width: 32px;
    height: 32px;
}

.subheadings {
    position: relative;
    top: auto;
    left: 10px;
}

#information > ul {
    list-style: none;
}

#className {
    margin-top: 10px;
    margin-bottom: 10px;
}